body {
    font-family: 'Didact Gothic';
    font-size: 150%;
    background-color: #1d141d;
    color: #FFFADD;
    min-width: 200px;
    padding-top: 6.25%;
    margin: 0;
}

a {
    color: #EAC795;
    text-decoration: none;
    transition: font-size 0.3s ease;
}

a:hover {
    font-size: 112.5%;
}

.title{
    font-family: 'Croissant One';
    font-weight: bold;
    font-size: 1.75rem;
    padding: 1rem;
}

header {
    background-color: #EAC795;
    color: #9a4d41;
    left: 0;
    top: 0;

    min-height: 50px;

    height: 12.5%;
    width: 100%;

    padding: 1rem 1.5rem 1rem;

    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
}

header a{
    color: #9a4d41;
    padding-left: 1rem;
    padding-right: 1rem;
}

footer {
    background-color: #9a4d41;
    left: 0;
    bottom: 0;

    min-height: 50px;

    width: 100%;

    padding: 1rem 1.5rem 1rem;

    box-sizing: border-box;
    display: flex;

    font-weight: bold;
}

.subt{
    font-family: 'Croissant One';
    font-weight: bold;
    font-size: 1.75rem;
    padding: 1rem 0 1rem;
    text-align: center;
    color: #FFFADD;
    background-color: #9a4d41;
    width: 100%;
}

.subst{
    font-family: 'Croissant One';
    font-weight: bold;
    padding: 1rem 0 1rem;
    color: #f0c882;
    width: 100%;
    display: inline;
}

p{
    padding: 0 5% 0;
}

ul{
    padding: 0 5% 0;
}

.center {
    text-align: center;
    justify-content: center;
    margin-bottom: 3%;
}

.border{
    border-radius: 10px;
}

#btn-mobile{
    display: none;
}

#menu{
    display: block;
}

#menu a{
    padding: 0.5rem;
}

@media (max-width: 1024px) {
    body{
        margin-right: 3%;
        margin-left: 3%;
        margin-top: 15%;
    }

    header {
        font-size: 200%;
    }

.title{
font-size: 70px;
}
    
    #menu {
        display: block;
        position: absolute;
        width: 100%;

        top: 70px;
        right: 0px;

        background: #EAC795;
        transition: 0.5s;

        z-index: 1000;
        height: 0px;

        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.active #menu {
        height: auto;
        visibility: visible;
        overflow-y: hidden;
        padding: 0.5rem;
    }
    #menu a {
	font-size: 65px;
        margin: 0 1rem;
	padding: 0 1rem 1rem;
    }
    #btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 70px;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
    }

    button{
        color: #9a4d41;
        font-family: 'Didact Gothic';
    }
}
