body { /*Muda a fonte e seu tamanho e cor do body*/
    font-family: 'Didact Gothic';
    font-size: 24px;
    background-color: #281E26;
    color: #FFFADD;
    padding-right: 40px;
    padding-left: 40px;
}
header { /*Muda as características do título que aparece dentro da página*/
    font-family: 'Croissant One';
    background-color: #EAC795;
    padding: 30px;
    text-align: center;
    color: #97553D;
    border-radius: 20px;
}
h2 { /*Determina as caracerísticas dos títulos de cada tópico*/
    font-family: 'Croissant One';
    padding: 30px;
    text-align: center;
    color: #FFFADD;
    background-color: #97553D;
    border-radius: 25px;
}

h4 { /*Partes de destaque no texto, incluindo subtítulos*/
    font-family: 'Croissant One';
    color: #FFFADD;
}

p { /*Mudando o espaçamento e o padding do texto*/
    line-height: 1.50;
    padding-right: 40px;
    padding-left: 40px;
}

a { /*Muda a cor dos links para outras partes da página*/
    color: #EAC795;
    line-height: 1.50;
}

iframe { /*Centraliza o link presente na página*/
    display: block;
    margin: 0 auto;
}

.center { /*Classe para centralizar o texto e as imagens*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.sepia{ /*Classe para dar destaque aos subtítulos*/
    background-color: #EAC795;
    border-radius: 25px;
    color: #281E26;
    padding: 0.1px;
}
.black{
    background-color: #ffffff;
    color: #000000;
    padding: 0.1px;
    text-align: center;
    padding: 30px;
}
.center_border{ /*Classe para fazer com que imagens fiquem centralizadas e com bordas arredondadas*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}


    <p class="black">
        <b>violão harpa</b>
    </p>